/* General */
@font-face {
    font-family: "Roboto";
    src:
        local("Roboto"),
        url("../font/Roboto/Roboto-VariableFont_wdth\,wght.ttf"),
        url("../font/Roboto/Roboto-Italic-VariableFont_wdth\,wght.ttf")
}

@font-face {
    font-family: "Open Sans";
    src:
        local("Open Sans"),
        url("../font/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf"),
        url("../font/Open_Sans/OpenSans-Italic-VariableFont_wdth\,wght.ttf")
}

* {
    box-sizing: border-box;

    font-family: "Roboto", monospace;
    /* font-family: "Open Sans", monospace; */
    font-size: 16px;
    font-weight: 400;
}

body, html, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

body, html {
    background-color: #1A1A1A;
    color: white;
}

input, select, button {
    appearance: none;
}

/* Header */
header {
    padding: 40px 0;
}

h1 {
    font-size: 4rem;
    text-align: center;
}

/* Main */
#board, #names {
    margin: 40px auto 0;
    width: 450px;
    height: 450px;
}

.hidden {
    display: none !important;
}

/* Names */
#names {
    width: 100%;
}

#names > input[type="text"] {
    display: block;

    margin: 0 auto 40px;
    width: 600px;
    height: 60px;
    border: 4px solid #117511;
    padding: 8px 10px;

    font-size: 2rem;
    text-align: center;
}

#names > input[type="text"]::placeholder {
    text-align: center;
}

#button-start {
    display: block;

    margin: 0 auto;
    width: 400px;
    height: 60px;
    border: 1px solid #848484;

    background: #117511;

    color: white;
    font-size: 1.8rem;
}

/* Record */
#record {
    font-size: 2.5rem;
    text-align: center;
}

.record-score {
    font-size: 2.5rem;
}

/* Result */
#result {
    margin: 20px 0;

    font-size: 3rem;
    text-align: center;
}

.result-displayed {
    text-decoration: underline;
}

/* Board */
.board-row {
    display: flex;
    flex-direction: row;
    justify-content: center;

    border-collapse: collapse;
}

.board-row:nth-child(1) {
    border-bottom: 1px solid white;
}

.board-row:nth-child(3) {
    border-top: 1px solid white;
}

.board-cell {
    width: 150px;
    height: 150px;
    border-collapse: collapse;

    font-size: 8rem;
    text-align: center;
}

.board-cell:nth-of-type(1) {
    border-right: 1px solid white;
}

.board-cell:nth-of-type(3) {
    border-left: 1px solid white;
}

.winning-cell {
    background-color: darkgreen;
}

/* Buttons */
#buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;

    margin: 40px 0;
}

#button-restart {
    width: 240px;
    border: 1px solid #848484;
    padding: 8px 20px;

    background-color: #111175;
    
    color: white;
    font-size: 2rem;
}

#button-reset {
    width: 240px;
    border: 1px solid #848484;
    padding: 8px 20px;

    background-color: #751111;

    color: white;
    font-size: 2rem;
}
